<h1>Editing Election</h1>

<%= render 'form', election: @election %>

<%= link_to 'Show', @election, class: "btn btn-primary btn-xl" %> |
<%= link_to 'Back', admin_elections_path, class: "btn btn-dark btn-xl" %>
